@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --background: #f5f5dc;
  --primary: #6b7443;
  --secondary: #f0ffff;
  --tertiary: #006400;
  --text: #d49abc;
  --text2: #ffffff;
  --accent: #6b7443;
  --accent-2: #000000;
  --success: #28a745;
  --warning: #ffc107;
  --error: #c82333;
  --title-font: "Playfair Display", serif;
  --normal-font: "Lato", sans-serif;
}

body,
html {
  background-color: var(--background);
  font-family: var(--normal-font);
  color: var(--text);
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
}
