.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.title {
  font-family: var(--title-font);
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 2px var(--accent);
  color: var(--text);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.subtitle {
  font-family: var(--title-font);
  font-size: 2rem;
  color: var(--text);
  -webkit-text-stroke: 2px var(--accent);
  text-align: center;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.line {
  width: 75%;
  border: 0;
  height: 3px;
  background-color: var(--tertiary);
  margin: 0.5rem auto 1rem auto;
}

.accordion {
  width: 60%;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid var(--accent);
}

.accordion-header {
  width: 100%;
  padding: 1rem;
  text-align: left;
  background-color: #ffeef7;
  border: none;
  outline: none;
  color: var(--text);
  -webkit-text-stroke: 1px var(--accent);
  cursor: pointer;
  font-size: 1.6rem;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: var(--primary);
  color: var(--text);
  -webkit-text-stroke: 1px var(--accent-2);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  color: var(--text);
  -webkit-text-stroke: 1px var(--accent);
  background-color: #fffef7;
  transition: max-height 0.3s ease-out;
}

.accordion-content p {
  padding: 1rem 0;
  margin: 0;
}
