.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#logo {
  max-width: 40%;
  cursor: pointer;
}

.nav-container {
  display: flex;
  border-radius: 10rem;
  background-color: var(--primary);
  width: 80%;
  justify-content: center;
  align-items: center;
}
.nav-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.nav-content-link a {
  -webkit-text-stroke: 1px var(--accent);
  color: var(--text);
  font-size: 2rem;
  transition: transform 0.2s ease, text-decoration 0.2s ease;
}

.nav-content-link:hover {
  transform: scale(1.1);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.1rem;
}
