#sakura-img {
  position: fixed;
  height: 14rem;
  z-index: 1000;
  top: 1;
  left: 1;
  transform: rotate(270deg);
}

#sakura-img-2 {
  position: fixed;
  height: 14rem;
  z-index: 1000;
  bottom: 0;
  transform: rotate(90deg);
  right: 0;
}
